@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  font-family: "Rubik", "Inter";
  letter-spacing: -0.2px;
}

.bg{
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #000;
  /* background-color: #0066F5; */
  transition: width 0.4s;
}

.sidebar.open {
  width: 260px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  background: rgb(0 0 0 / 5%);
}

.sidebar-burger {
  width: 60px;
  height: 72px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
}

.sidebar-logo {
  height: 28px;
}

.sidebar-menu {
  display: grid;
  padding: 10px;
}

.sidebar-button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: 100%;
  font-family: "Poppins";
  font-size: 17px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 10px;
  border-radius: 8px;
  color: #f9f9f9;
  opacity: 0.8;
}

.sidebar-button:hover {
  background: rgb(0 0 0 / 30%);
  opacity: 1;
}

.sidebar-button:hover > span {
  opacity: 1;
}

.sidebar-logo,
.sidebar-button p {
  opacity: 0;
  transition: 0.3s;
}

.sidebar.open :is(.sidebar-button p, .sidebar-logo) {
  opacity: 1;
}

.sidebar-button > img {
  width: 24px;
  height: 24px;
}

.sidebar-button > span {
  opacity: 0.5;
}